/* Variables */
/* colors */
/* fonts */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXI3I6Li01BKofiOc5wtlZ2di8HDOUhRTM.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshRTM.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXI3I6Li01BKofiOc5wtlZ2di8HDGUmRTM.ttf) format('truetype');
}
/* others */
.paddings {
  padding: 2rem 1rem;
}
.gaps {
  gap: 1rem;
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}
strong {
  font-weight: 600;
}
.triangulo {
  width: 0;
  height: 0;
  border-top: 10px solid #222d3a;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
/* Header */
header {
  background-color: #222d3a;
}
header * {
  color: white;
}
.header__container {
  background: url(img/header-temp-bg.jpg) no-repeat center / cover;
  position: relative;
}
.header__container::after {
  left: 50%;
  margin-left: -10px;
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #222d3a;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.header__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #b01917;
}
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 45, 58, 0.5);
  padding: 1rem;
  gap: 1rem;
}
.header__text {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-transform: uppercase;
}
.header__logo {
  max-width: 80px;
  width: 100%;
  display: block;
  height: auto;
}
.btn {
  display: flex;
  background-color: #1dd624;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
.learning__container {
  padding: 2rem 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  margin: 0 auto;
}
.learning__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #b01917;
  text-transform: uppercase;
  text-align: center;
}
.learning__month {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  color: #d6b41d;
}
.learning__dates {
  width: 100%;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}
.learning__dates dt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed #222d3a;
  line-height: 1;
  padding: 1rem;
  text-align: center;
}
.learning__dates dt strong {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  color: #d6b41d;
  margin-top: 8px;
}
.learning__dates dd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2;
  padding: 1rem 0;
}
.learning__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #b01917;
}
.learning__list {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #222d3a;
}
